body{
    background-color: rgb(255, 161, 241);
    font-size: 36px;
    margin: 0px;
}

div{
    box-sizing: border-box;
}


div.row {
    display: flex;
    flex-wrap: wrap;
}

div.col {
    outline: 2px solid rgb(255, 189, 118);
    width: 33.333%;
    height: 1000px;
    padding: 5px;
}

div.textred{
    color: rgb(255, 118, 182);
}


div.width33{
    width: 33.333%;
}

div.width66{
    width: 66.666%;
}

div.width25{
    width: 25%;
}

div.width20{
    width: 20%;
}

div.width60{
    width: 60%;
}

div.width50{
    width: 50%;
}

div.width75{
    width: 75%;
}

div.menu{
    background-color: rgb(255, 206, 248);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    text-align: center;
}

div.hahaha img{
    animation: circle 2s infinite alternate linear;
}
@keyframes circle{
    0%{
        border-radius: 0%;
        width: 0%;
    }

    100%{
        border-radius: 100%;
        width: 100%;
    }
}