@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;1,100&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
.container {
  width: 100%;
  height: 98rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://i.postimg.cc/nVy1Yr70/IMG-2934.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  padding-left: 100%;
  padding-right: 100%;
  box-sizing: border-box;
}
.navbar {
  height: 15%;
  display: flex;
  align-items: center;

}
.row {
  display: flex;
  height: 78%;
  align-items: center;
}
.col {
  flex-basis: 100%;
}
h1 {
  color: #fff;
  font-size: 100px;
  text-align: center;
}
p {
  color: #fff;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
}
button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
  cursor: pointer;
}
.card{
  width: 240px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor:pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
 .card1{
  background-image: url(https://i.postimg.cc/9f1V5zyh/IMG-2937.jpg);
 }
 .card2{
  background-image: url(https://i.postimg.cc/qBNtwddR/IMG-2939.jpg);
 }
 .card3{
  background-image: url(https://i.postimg.cc/506ts8TG/IMG-2940.jpg);
 }
 .card4{
  background-image: url(https://i.postimg.cc/9FTD3t0H/IMG-2942.jpg);
 }
 .card:hover{
   transform: translateY(-10px);
 }
 h5{
   color: #fff;
   text-shadow: 0 0 5px #999;
 }
 .card p{
   text-shadow:  0 0 5px #000;
   font-size: 8px;
 }